extends baseEmail

block content
  p(style="text-align: center; font-size: 24px; margin-bottom: 20px;")
    | Hi #{firstName}, 

  p(style="text-align: center; font-size: 20px; margin-bottom: 20px;")
    | Welcome to Unchi Uddan, we're thrilled to have you on board! 🎉🙏

  p(style="text-align: center; font-size: 18px; margin-top: 20px; margin-bottom: 20px;")
    | We're all a big family here, and we're excited to share this journey with you.

  p(style="text-align: center; font-size: 18px; margin-bottom: 20px;")
    | Here's what you can expect:
  
  ul(style="text-align: left; font-size: 16px; margin-left: 30px; margin-bottom: 20px;")
    li
      | Access to a wealth of educational resources.
    li
      | Exclusive offers and updates on our latest products.
    li
      | Access to free PDFs.
  
  p(style="text-align: center; font-size: 18px; margin-top: 20px; margin-bottom: 20px;")
    | If you have any questions or need assistance, please don't hesitate to contact us.

  p(style="text-align: center; font-size: 16px; margin-bottom: 20px;")
    | Best regards,
  
  p(style="text-align: center; font-size: 16px; color:green")
    | Unchi Uddan Team
