:root{
    --red:#FF1E33;
    --black:#444;
    --light-color:#777;
    --box-shadow:.2rem .2rem 0 rgba(22, 160, 133, .2);
    --text-shadow:.2rem .2rem 0 rgba(0, 0, 0, .2);
    --border:.2rem solid var(--red);
    --PrimaryColor: hsl(353, 93%, 50%);
}

section{
    padding:2rem 5%;
}

section:nth-child(even){
    background: #f5f5f5;
}
.icons-container{
    display: grid;
    gap:2rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    padding-top: 0rem;
    padding-bottom: 0rem;
}

.icons-container .icons{
    border:var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    text-align: center;
    padding: 2.5rem;
}

.icons-container .icons i{
    font-size: 4.5rem;
    color:var(--red);
    padding-bottom: .7rem;
}

.icons-container .icons h3{
    font-size: 40px;
    color:black;
    padding: .5rem 0;
    text-shadow: var(--text-shadow);
}

.icons-container .icons p{
    font-size: 1.7rem;
    color:var(--light-color);
}
