/* :root {
    --section-rotate: 9vw;
  } */
  
  ::-moz-selection {
    background-color: #55c57a;
    color: #fff;
  }
  
  ::selection {
    background-color: #55c57a;
    color: #fff;
  }
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
  }
  
  

  

  .side-nav {
    list-style: none;
  }
  .side-nav li {
    margin: 1rem 0;
    border-left: 0 solid #fff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .side-nav--active,
  .side-nav li:hover {
    border-left: 4px solid #fff !important;
  }
  .side-nav--active a {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  .side-nav a:link,
  .side-nav a:visited {
    padding: 1rem 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 400;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .side-nav a:hover,
  .side-nav a:active {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  .side-nav svg {
    height: 1.9rem;
    width: 1.9rem;
    fill: #f7f7f7;
    margin-right: 2rem;
  }
  
  .admin-nav {
    margin-top: 5.5rem;
  }
  .admin-nav__heading {
    margin: 0 5rem 1.5rem 4rem;
    padding-bottom: 3px;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #f2f2f2;
    border-bottom: 1px solid currentColor;
  }
  

  .form__input {
    display: block;
    font-family: inherit;
    font-size: 1rem;
    color: inherit;
    padding: 1.25rem 1.75rem;
    border: none;
    width: 100%;
    background-color: #fff;
    background-color: #f2f2f2;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    
  }
  .form__input:focus {
    outline: none;
    border-bottom: 3px solid #55c57a;
  }
  .form__input:focus:invalid {
    border-bottom: 3px solid #ff7730;
  }
  .form__input::-webkit-input-placeholder {
    color: #bbb;
  }
  
  .form__group:not(:last-child) {
    margin-bottom: 2.5rem;
  }
  
  .form__label,.forgot {
    display: block;
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 0.75rem;
  }
  
  .form__photo-upload {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.6rem;
  }
  
  .form__user-photo {
    height: 7.5rem;
    width: 7.5rem;
    border-radius: 50%;
    margin-right: 2rem;
  }
  
  .form__upload {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  
  .form__upload:focus + label {
    outline: 3px solid #55c57a;
    outline-offset: 3px;
  }
  
  .form__upload + label {
    color: #55c57a;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #55c57a;
    padding: 3px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    cursor: pointer;
  }
  .form__upload + label:hover {
    background-color: #55c57a;
    color: #fff;
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
