@import url("https://fonts.googleapis.com/css2?family=Anton&family=Karla:ital,wght@0,300;1,200&family=Montserrat:wght@200;600&family=Poppins:wght@200&family=Roboto:wght@300;400&family=Ubuntu:wght@300;500&family=Work+Sans:wght@300&display=swap");

section.adminSection {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-direction: column;
}

.menus ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  flex-wrap: wrap;
  font-size: 1.3rem;
  font-weight: 400;
}
.menus ul li {
  cursor: pointer;
}
.menus ul li:hover {
  cursor: pointer;
  color: rgb(72, 72, 208);
}
.adminHeader {
  font-size: 3.5rem;
  font-weight: 800;
  font-family: "Ubuntu", sans-serif;
}
.adminNav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
}

.adminHome{
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.users , .pdfs , .payments , .news {
  height: 250px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction:column ;
  border-radius: 20px;
  font-family: "Ubuntu", sans-serif;
  color: aliceblue;
  font-weight: 400;
  font-size: 1.8rem;

}
.adminLogo{
  font-size: 4rem;
}
.users{
  background-color: #7da0fa;
}
.pdfs{
  background-color: #7978e9;
}
.payments{
  background-color: #f3797e;
}

.news{
  background-color: #4747a1;
}







@media (max-width: 461px) {
  .menus ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }
}
@media (max-width: 415px) {
  .menus ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
}
