@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 10px;
    background:#0B111F  ;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
  }
  
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  