
.faq-container {
  width: 100%;
  margin: 0 auto;
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: relative;
  top: 0px;
 
}


.faqh {
  color: #333;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

.qustionsInFaq {
  color: #915eff;
}

/* Questions */
.faq-question {
  cursor: pointer;
  margin-bottom: 10px;
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  color: #333;
  transition: background-color 0.3s;
}

.faq-question:hover {
  background-color: #f0f0f0;
}


.faq-answer {
  display: none;
  padding: 10px;
  border-radius: 5px;
  background-color: #f8f8f8;
  margin-top: 10px;
  color: #333;
}


.faq-question.active {
  background-color: #ffffffae;
}

.faq-question.active + .faq-answer {
  display: block;
}

.faq-arrow {
  display: inline-block;
  transition: transform 0.3s ease;
  transform-origin: center;
}

.faq-question.active .faq-arrow {
  transform: rotate(180deg);
}


.btn {
  background: #fff;
  color: #333;
  font-weight: 500;
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background: #f0f0f0;
}

.btn.correct {
  background-color: #4caf50;
  color: white;
}


.btn.incorrect {
  background-color: #f44336;
  color: white;
}


.btn span {
  display: none;
  font-size: 16px;
  vertical-align: middle;
  margin-left: 5px;
}


.btn.correct span.tick-mark {
  display: inline-block;
  color: rgb(0, 0, 0);
}


.btn.incorrect span.cross-mark {
  display: inline-block;
  color: rgb(0, 0, 0);
}


.faq-answer p {
  margin: 0;
}


